
<p>For go on, you need to authenticate.
  What will be your preferred method??</p>
<div>
  <button id="google"
  (click)="onGoogleClick()">Google</button>
</div>
<div>
  <input id="auth.email" label="email" type="text"/>
</div>
<div>
  <input id="auth.password" label="password" type="password"/>
</div>
<div>
  <button id="emailAndPassword"
  (click)="onEmailPasswordClick()">Login with email and password</button>
</div>
<div>
  <button id="logout"
  (click)="onLogout()">Logout</button>
</div>
<div>
  <button id="test"
  (click)="test()">Test</button>
</div>


